@use "../variables" as v;

.navBar {
  background-color: #000000;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 160px;
  font-family: v.$font-Quicksand;

  ul {
    list-style: none;

    li {
      a {
        text-decoration: none;
      }
    }
  }
}

.navTop {
  padding: 0;
  margin: 0;
  height: 50%;
  width: 100%;

  &__container-top {
    display: grid;
    grid-template-columns: max-content auto;
  }

  &__img-nav {
    margin: 15px 0 0 15px;
  }

  &__menu {
    width: 250px;
    height: 84px;

    &--inactive {
      display: none;
    }
  }

  &__left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__right {
    display: grid;
    width: 90%;
    margin: 0 auto 0 auto;
    align-items: center;
    grid-template-columns: max-content auto max-content max-content;
  }

  &__user_name {
    margin-right: 10px;
  }

  &__login_fa {
    font-size: 25px;
    color: v.$white;
  }


  &__conatiner-contacto {
    margin: 0 ;
    padding: 0 ;
    line-height: 1.2;
  }
  &__contac{
    margin: 0 ;
    padding: 0 ;
    li{
        a{
            color: v.$white;
            font-size: 1rem;
        }
        svg{
          margin-top: -5px;
        }
    }
  }
  &__container-buscar {
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 0;
    input {
      height: 36px;
      width: 80% !important;
      padding: 10px 0 10px 10px;
      border-radius: 30px;
      left: 50%;
      transform: translate(-50%);
      position: relative;
    }
  }

  &__buscar-icono {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 20px;
    margin-right: 12%;
  }

  &__bb {
    color: black;
  }

  &__menu_mobile {
    width: 100%;
    margin: 0;
    padding: 0;
    &--inactiv {
      padding: 15px;
      display: none;
    }
  }

  &__menu_list {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto 0 auto;
  }

  &__bars_fa {
    color: white;
    font-size: 30px;
  }
  &__cart-shop {
    position: relative;
    &--inactive{
        display: none;
    }
  }

 
}

/*NAVBAR BOT*/
.navDown {
  width: 100%;
  height: 50%;
}

.navbar-bot {
  width: 100%;
  height: 100%;
  background-color: #000000;

  &__product-detail-close{
    &--inactiv{
        display: none;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__list_items {
    cursor: pointer;
    color: white;

    a {
      color: v.$white;
    }

    & a:hover {
      color: #fab602;
    }
  }

  &__greater_faT {
    color: white;
  }

  &__cartf {
    font-size: 20px;
  }

  &__greater_faT {
    display: none;
  }

  &__cart-shop {
    position: relative;
  }

  &__cont_prod {
    width: 16px;
    height: 16px;
    background-color: #FAB602;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    left: 9px;
    text-align: center;
    justify-content: center;
}

}
